.core {
  --primary-color: #c5c1f5;
  --title-color: #660429;
}

@media screen and (max-width: 768px) {
  #her-title-short {
    font-size: 8px !important;
    max-width: 25% !important;
  }
  h1 {
    font-size: 30px !important;
  }
  nav {
    max-width: 75%;
  }
  ul {
    font-size: 15px !important;
  }
  h2 {
    font-size: 25px !important;
  }
  #helena-photo {
    margin-bottom: 20px !important;
    height: 60% !important;
    width: 60% !important;
  }
  h4 {
    font-size: 25px !important;
  }
  #maori-proverb {
    font-size: 15px !important;
  }
  button {
    font-size: 15px !important;
  }
  date {
    font-size: 15px !important;
  }
  .blog-container {
    max-width: 90% !important;
  }
  .blog-post-title {
    font-size: 30px !important;
  }
  .blog-post-sub-title {
    font-size: 20px !important;
  }
  .blog-article {
    font-size: 15px !important;
  }
  .nav-blogs {
    display: flex !important;
    flex-wrap: wrap !important;
  }
  .blog-tile {
    max-width: 80% !important;
    font-size: 25px !important;
    max-height: 70px !important;
  }
  .hauora-table {
    font-size: 15px !important;
    margin: 0 auto !important;
  }
}

#her-titles {
  color: var(--title-color);
  font-family: garamond;
  background-color: #c5c1f5;
  position: relative;
  display: flex;
  flex-wrap: flex;
  border-style: solid;
  border-color: #3ed68a;
  border-width: 10px;
}

#her-title-short {
  font-size: 30px;
  position: relative;
  text-align: left;
  max-width: 20%;
  margin: 10px;
  background-color: var(--primary-color);
}

h3 {
  margin: 0px 0px 0px 0px;
  color: #660429;
}

#her-title-long {
  position: relative;
  background-color: var(--primary-color);
  text-align: center;
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: flex;
}

h1 {
  font-size: 70px;
  text-align: center;
  color: #660429;
}

body {
  background-color: #c6a8c7;
}

#home-page {
  display: flex;
  flex-wrap: wrap-reverse;
}

#helena-photo {
  height: 40%;
  width: 40%;
  margin: auto;
  display: block;
  border-radius: 50%;
  border-style: double;
  border-color: #660429;
  border-width: 15px;
}

nav {
  background-color: #c5c1f5;
  border-style: solid;
  border-color: #3ed68a;
  border-width: 10px;
  border-radius: 20px;
  position: relative;
  margin: auto;
  padding: 20px;
}

h2 {
  font-size: 40px;
  color: #660429;
  font-family: garamond;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

ul {
  font-size: 25px;
  color: #660429;
  font-family: garamond;
}

h4 {
  font-family: garamond;
  font-size: 35px;
  color: #660429;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: #3ed68a;
  background-color: #c5c1f5;
  margin: auto;
  max-width: 75%;
  padding: 30px;
}

#maori-proverb {
  font-size: 25px;
  color: #660429;
  font-family: garamond;
  text-align: justify;
  margin: auto;
  max-width: 75%;
  background-color: #c5c1f5;
  border-style: solid;
  border-width: 5px;
  border-color: #3ed68a;
  padding: 30px;
  border-collapse: collapse;
}

footer {
  font-size: 25px;
  color: #660429;
  font-family: garamond;
  background-color: #c6a8c7;
  padding: 20px;
  margin: 20px;
}

#banner-photo {
  width: 100%;
}

button {
  font-size: 30px;
  color: #660429;
  font-family: garamond;
  border-style: solid;
  border-width: 5px;
  border-color: #3ed68a;
  border-radius: 20px;
  background-color: #3ed68a;
}

.blog-container {
  max-width: 60%;
  margin: auto;
  background-color: #c5c1f5;
  border-style: solid;
  border-radius: 20px;
  border-width: 15px;
  border-color: #3ed68a;
  color: #660429;
  font-family: garamond;
}

date {
  font-size: 20px;
  color: #660429;
  font-family: garamond;
  padding: 15px;
}

.blog-post-title {
  font-size: 60px;
  color: #660429;
  font-family: garamond;
  margin: auto;
}

.blog-post-sub-title {
  font-size: 30px;
  color: #660429;
  font-family: garamond;
  margin: auto;
  max-width: 80%;
}

.blog-article {
  font-size: 25px;
  color: #660429;
  font-family: garamond;
  margin: auto;
  max-width: 80%;
  background-color: #c5c1f5;
}

.nav-blogs {
  margin-top: 100px;
  display: flex;
}

.blog-tile {
  font-size: 30px;
  text-align: center;
  color: #660429;
  font-family: garamond;
  display: flex;
  border-style: solid;
  border-radius: 20px;
  border-width: 5px;
  border-color: #660429;
  background-color: #3ed68a;
  padding: 10px;
  height: 150px;
  margin-left: 15px;
  margin-bottom: 15px;
  width: auto;
}

.display-blog {
  max-width: 100%;
  margin: 10px;
  background-color: #660429;
  padding: 5px;
}

.hauora-table {
  font-size: 20px;
  color: #660429;
  font-family: garamond;
  border-color: #660429;
  border-width: 2px;
  border-style: solid;
  background-color: #c5c1f5;
  margin: 0 auto;
  width: 80%;
}

#hauora-house {
  max-width: 90%;
  background-color: #660429;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  width: 85%;
}
