.core {
  --primary-color: #c6a8c7;
  --title-color: #660429;
}

main {
  background-color: ;
  padding: 5px 5px 0px 5px;
  margin: 0% 0% 0% 0%;
}

#her-titles {
  display: flex;
  color: var(--title-color);
}

#her-title-short {
  font-size: 50px;
  margin: 0px 0px 0px 0px;
}

h3 {
  background-color: var(--primary-color);
  margin: 0px 0px 0px 0px;
  color: #660429;
}

#her-title-long {
  margin: 0% 0% 0% 5%;
}

h1 {
  font-size: 110px;
  text-align: center;
  background-color: var(--primary-color);
}

body {
  background-color: #c6a8c7;
}

h1 {
  color: var(--title-color);
}

#helena-photo {
  height: 50%;
  width: 50%;
  margin: auto;
  display: block;
  border-radius: 50%;
}

h2 {
  font-size: 50px;
  color: #660429;
}

ul {
  font-size: 25px;
  color: #660429;
}
